DATABASE_URL=postgresql://postgres:postgres@localhost:5432/devquest
FIREBASE_PROJECT_ID=woolf-graduate-proj
FIREBASE_SERVICE_ACCOUNT_KEY=path/to/serviceAccountKey.json
FRONTEND_URL=https://devquest-frontend.vercel.app
